.RecommendationForm {
  background: #00887a;
  width: 50%;
  margin: 5% auto;
  color: white;
}

.RecommendationForm label {
  margin-top: 2rem;
  display: inline-block;
  text-align: left;
  clear: both;
  width: 50%;
}

.RecommendationForm input {
  display: inline-block;
  width: 40%;
  clear: both;
} 

.RecommendationForm .errors {
  color: #FFCCBC;
}

.RecommendationForm ul {
  list-style-type: none;
}

.RecommendationForm button {
  margin-top: 2rem;
  background-color: #77A6F7;
  border: none;
  padding: 1rem 3rem;
  color: white;
  border-radius: 12px;
  margin-left: 5%;
}


.RecommendationForm button:hover {

  background-color: rgb(127, 169, 241);
}